* {
  padding: 0;
  margin: 0;
  /*border: 2px solid red;*/
}

body {
  font-family: sans-serif;
  background-image: url('../img/b1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: lavender;
}

nav {
  background-color: #edf2fc;
  opacity: 0.8;
  color: black;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

nav a:hover {
  color: white;
}

#greeting-user {
  text-align: center;
  font-weight: 900;
  font-size: 34px;
}

.logo-font {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
}

main {
  margin-top: 100px;
}

.main {
  box-shadow: 0.5rem 0.5rem teal, -0.5rem -0.5rem #0639c5;
  background: white;
  color: black;
}

.personal-img {
  width: 30%;
  height: 230px;
  float: right;
  margin-top: 10px;
}

.name-color {
  color: tomato;
  font-weight: 900;
  margin-top: 230px;
}

main p {
  line-height: 30px;
  padding: 15px;
}

main a {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.skills-img {
  width: 10%;
}

.project {
  background: white;
}

@media only screen and (max-width: 600px) {
  #greeting-user {
    font-size: 20px;
  }
}
